
* {
    color:white;
}
body {
    background-color: darkolivegreen;
    background-image: url("http://wallpapercave.com/wp/Sbu7HYD.jpg");
    background-size: cover;
}
    .blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    }

 .caixa-de-texto {
     text-align: center;
     font-family:Georgia, 'Times New Roman', Times, serif;
     margin-top: 300px; 
     border: 30px solid red;
     border-color:rgba(255, 0, 0, 1);
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
     transition: all 0.3s linear;
 }

 .caixa-de-texto:hover{
     border-color:rgba(255, 0, 0, 1);

     
 }
