
* {
    color: darkkhaki;
}
body {
    background-image: url("https://scontent.fvix2-1.fna.fbcdn.net/v/t1.0-9/15894338_963289207147980_7114988556090945159_n.jpg?oh=bcfc449b541e2126e8d829e5e74e64ef&oe=59DC5E33");
    background-size: cover;
}
   
 .caixa-de-texto {
     text-align: center;
     font-family:Georgia, 'Times New Roman', Times, serif;
     margin-top: 350px; 
     border:10px dashed blue;
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
     transition: all 0.3s linear;
     background-color: black
 }

 .caixa-de-texto:hover{ 
     border-color:rgba(255, 0, 0, 1);
     border-width: 6px;    
 }

 h3 {text-align: center}

 h2:hover:{
      text-align: right;
      color: darkred;
          }      

