body {
    background-image: url("https://scontent.fvix1-1.fna.fbcdn.net/v/t31.0-8/13403855_1718860601716585_2722666506606744385_o.jpg?oh=44146aeb05ddd8256392e9f2aee46ff1&oe=5A4E2639"); 
    background-size: cover;
    text-align:left ;
    margin: 80px;
}
 


body > p {
    font-size: 70px;
    padding: 120px;
    margin: 100px;
    border-left: 100px;
    border-right: 100px;

}


h1 {
    color:floralwhite;
    font-size: 80px;
    font-style: italic;
    text-align: center;
}

#box1, #box2 {
    background-color: rgba(40, 30, 30, 0.5);
    display: inline-block;
    align-content:center;
    color: floralwhite;
    
    
}

#box1 {
    height: 250px;
    width: 50%;
    font-size: 50px;
}

#box2 {
    height: 250px;
    width: 50%;
    font-size: 50px;
}

#link{
    text-decoration: none;
color: floralwhite;

}


#box3 {
        background-color: rgba(40, 30, 30, 0.5);
    display: block;
    height: 100px;
    width: 50%;
    font-size: 40px;

}

ul{
font-size: 60px;
color: white;
padding: 10px;




}


