body {
    background-image: url("https://scontent.fvix1-1.fna.fbcdn.net/v/t31.0-8/22181588_1949818178620825_6832888060431074929_o.jpg?oh=3f0babefc518b95c76e5ca4b25bd4794&oe=5A837848"); 
    background-size: cover;
    text-align:center ;
    margin: 80px;
}
 


body > p {
    font-size: 70px;
    padding: 120px;
    margin: 100px;
    border-left: 100px;
    border-right: 100px;

}


h1 {
    color:black;
    font-size: 80px;
    font-style: italic;
    text-align: center;
}

#box1, #box2 {
    background-color: rgba(40, 30, 30, 0.35);
    display: inline-block;
    align-content:center;
    color: black;
    margin-left: 700px;
   
    
    
}

#box1 {
    height: 250px;
    width: 50%;
    font-size: 50px;
    background-image: url("http://www.gifsgratis.com.br/gifs/fogo/fogos-de-artificio/222.gif");
    background-size:center;
    background-repeat: no-repeat;
    background-origin: center;
    text-shadow: 2px 2px white;
}

#box2 {
    height: 400px;
    width: 50%;
    font-size: 50px;
    text-shadow: 2px 2px white;
    
}

#link{
    text-decoration: none;
color: floralwhite;

}


#box3 {
        background-color: rgba(40, 30, 30, 0.5);
    display: block;
    height: 100px;
    width: 50%;
    font-size: 40px;

}

ul{
font-size: 60px;
color: white;
padding: 10px;




}


